@media (max-width: 768px) {
	.nav-links{
	gap: 15px;
	}

	.logo img {
		width: 80px;
		margin: 0 auto;
	}
	nav {
		padding: 0;
		display: flex;
		flex-direction: column;
		padding-top:20px ;
	}

	header {
		height: 65vh;
	}

	.nav-links li a {
		font-size: 13px;
	}

	.nav-links {
		gap:15px;
	}

	.head-con {
		margin-top: 90px;
	}

	.head-con h1 {
		font-size: 20px;
	}

	.head-con p {
		font-size: 12px;
		width: 270px;
		margin: 0 auto;
	}

	.head-con button {
		padding: 10px 20px;
		font-size: 0.8em;
		margin: 30px 0;
	}

	.imgnone {
		display: none;
	}

	.about-head h2 , .offers-head h2{
		font-size: 30px;
	}
	.about-head p{
		font-size: 14px;
	}
	.about-con p {
		font-size: 14px;
	}

	.text-con button{
		    padding: 10px 20px;
			font-size: 15px;
	}

	.offers {
			height: auto;
			padding-bottom: 100px;
	}
	.offers-con {
		flex-direction: column;
		gap: 120px;
	}

	.card-continer {
	grid-template-columns: repeat(1,minmax(300px,1fr));
	}

	.card-continer .card hr {
			width: 250px;
			margin: 5px auto;
	}

	.daytime {
		flex-direction: column;
		gap: 20px;
	}

	.Gallery {
		height: auto;
	}

	.GalleryGrid {
			grid-template-columns: repeat(1,1fr);
			gap: 20px;
			justify-content: center;
			padding: 20px;
			
	}
	.GalleryGrid  img {
		margin: 0 auto;
	}
	.contact {
		height: auto;
	}
	.contact-text {
		width: 100%;
	}

	.input-contianer {
		width: 100%;
	}

	.input-contianer input {
		height: 40px;
		width: 100%;
		margin:  0 auto;
	}

	.input-contianer textarea {
		width: 100%;
		height: 120px;
	}

	footer {
		font-size: 15px;
	}
}