@media (max-width: 768px) {
	.nav-links{
	gap: 15px;
	}

	.logo img {
		width: 80px;
		margin: 0 auto;
	}
	nav {
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.nav-links li a {
		font-size: 13px;
	}

	.nav-links {
		gap:15px;
	}

	.head-con {
		margin-top: 60px;
	}

	.head-con h1 {
		font-size: 20px;
	}

	.head-con p {
		font-size: 12px;
		width: 270px;
		margin: 0 auto;
	}

	.head-con button {
		padding: 10px 20px;
		font-size: 0.8em;
		margin: 30px 0;
	}
}